<!DOCTYPE html>
<html>

<head>
  <title>Vendors - Pierre's Bakery</title>
</head>

<body>
  @using PierresBakery.Models;

  <h1>List of All Vendors</h1>

  @if (@Model.Count == 0)
  {
    <h3>No vendors have been set up yet. Please use the button below to create a vendor.</h3>
  }
  else
  {
    <p>Select a vendor from the list below to place an order, or use the button below to create a new vendor.</p>
    <ul>
      @foreach (Vendor vendor in Model)
      {
        <li>
          <p>
            <a href='/vendors/@vendor.Id'>
              @vendor.Name
            </a>
            <br />
            <em>@vendor.Description</em>
          </p>
        </li>
      }
    </ul>
  }
  <br />
  <a href='/vendors/new'><button>Create a Vendor</button></a>
  <br /><br />
  <a href='/'><button>Home</button></a>
</body>

</html>