<!DOCTYPE html>
<html>

<head>
  <title>Add Vendor - Pierre's Bakery</title>
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  @await Html.PartialAsync("Header")
  <h1>Add a Vendor</h1>
  <br>
  <form action="/vendors" method="post" class="creationForm">
    <h3>New Vendor Form</h3>
    <ul>
      <li>
        <label for="vendorName">Vendor Name*</label><br />
        <input id="vendorName" name="vendorName" type="text" required>
      </li>
      <br />
      <li>
        <label for="vendorDescription">Vendor Description</label><br />
        <input id="vendorDescription" name="vendorDescription" type="text">
      </li>
      <br />
      <li>
        <button type="submit">Create Vendor</button>
      </li>
    </ul>
  </form>
  <br />
  <a href="/vendors"><button>Back to All Vendors</button></a><br />
</body>

</html>