<link href="https://fonts.cdnfonts.com/css/antefand" rel="stylesheet">

<div id="headerBanner">
  <div>
    <h1><span id="logo">Pierre's Bakery</span></h1>
    <h2><em>Vendor Ordering System</em></h2>
  </div>
  <div id="headerBannerNavBar">
    <a href='/'><button>Home</button></a>
    <a href='/vendors'><button>Vendors</button></a>
  </div>
</div>