<div id="headerBanner">
  <h1>Pierre's Bakery - Vendor Ordering System</h1>
  <div id="headerBannerNavBar">
    <a href='/'><button>Home</button></a>
    <a href='/vendors'><button>Vendors</button></a>
  </div>
</div>