body {
  background-color: #3A2E39;
  color: #F4D8CD
}

h1 {
  color: #EDB183;
}

#headerBanner {
  box-shadow: 0px 10px 10px black;
  padding: 10px;
}

#headerBannerNavBar>a>button {
  border-radius: 10px;
  padding: 10px;
  background-color: #1E555C;
  border-color: transparent;
  color: #F4D8CD;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color:transparent;
  border-color: #F15152;
  color: #F4D8CD;
}

.vendorListing {
  border-radius: 20px;
  padding: 10px;
  border-style: outset;
  border-color: #F15152;
  width: 10rem;
}

.vendorListing > p > a {
  color: #EDB183;
}

#vendorList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.centerAlignBody {
  text-align: center;
}