/* Body Styles */
body {
  background-color: #3A2E39;
  color: #F4D8CD;
}

/* Header Styles */
h1 {
  color: #EDB183;
}

#headerBanner {
  box-shadow: 0px 10px 10px black;
  padding: 10px;
  text-align: center;
}

#headerBannerNavBar {
  align-items: center;
}

#headerBannerNavBar > a > button {
  border-radius: 10px;
  padding: 10px;
  background-color: #1E555C;
  border-color: transparent;
  color: #F4D8CD;
  width: 45%;
}

/* Button Styles */
button {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  border-color: #F15152;
  color: #F4D8CD;
}

/* Vendor Listing Styles */
.vendorListing {
  border-radius: 20px;
  padding: 10px;
  border-style: outset;
  border-color: #F15152;
  width: 10rem;
}

.vendorListing > p > a {
  color: #EDB183;
}

/* Vendor List Styles */
#vendorList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Center Alignment Styles */
.centerAlignBody {
  text-align: center;
  align-items: center;
}

/* New Order Form Styles */
#newOrderForm {
  border-radius: 20px;
  padding: 10px;
  border-style: outset;
  border-color: #1E555C;
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
}

/* Orders List Styles */
#ordersList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Order Listing Styles */
.orderListing {
  border-radius: 20px;
  padding: 10px;
  border-style: outset;
  border-color: #F15152;
  width: 10rem;
  text-align: left;
}

/* Logo Styles */
#logo {
  font-family: 'Antefand', sans-serif;
  font-size: 200%;
}

/* Required Field Styles */
.requiredField {
  color: #F15152;
}

/* New Vendor Form Styles */
#newVendorForm {
  border-radius: 20px;
  padding: 10px;
  border-style: outset;
  border-color: #1E555C;
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
}
