<!DOCTYPE html>
<html>

<head>
  <title>Welcome - Pierre's Bakery</title>
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  @using PierresBakery.Models;
  @await Html.PartialAsync("Header")

  <h1>Hello, Pierre!</h1>

  <p>You can use this site to place orders with your vendors.</p>

  <p>
    <a href='/vendors'><button>Vendors</button></a>
  </p>

</body>

</html>